version: "3"

services:
  mongodb:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    command: # comment out following section if you do not need replication. for more information about replication see I1820/mongo.
      --replSet avidnet
    volumes:
      - ./mongo/data:/data/db
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    links:
      - mongodb:mongo
