version: "3"

services:
  vernemq:
    image: erlio/docker-vernemq
    restart: always
    ports:
      - 1883:1883
      - 18083:18083
      - 8888:8888
    environment:
      - "DOCKER_VERNEMQ_ALLOW_ANONYMOUS=on"
      - "DOCKER_VERNEMQ_LISTENER.http.default=0.0.0.0:8888"
      - "DOCKER_VERNEMQ_LISTENER.tcp.i1820=0.0.0.0:18083"
      - "DOCKER_VERNEMQ_LISTENER.tcp.i1820.mountpoint=i1820"
      - "DOCKER_VERNEMQ_PLUGINS.vmq_passwd=off"
      - "DOCKER_VERNEMQ_PLUGINS.vmq_acl=off"
      - "DOCKER_VERNEMQ_PLUGINS.vmq_webhooks=on"
      - "DOCKER_VERNEMQ_VMQ_WEBHOOKS.i1820_auth_publish.hook=auth_on_publish"
      - "DOCKER_VERNEMQ_VMQ_WEBHOOKS.i1820_auth_publish.endpoint=http://172.17.0.1:1372/mqtt/auth/publish"
      - "DOCKER_VERNEMQ_VMQ_WEBHOOKS.i1820_auth_subscribe.hook=auth_on_subscribe"
      - "DOCKER_VERNEMQ_VMQ_WEBHOOKS.i1820_auth_subscribe.endpoint=http://172.17.0.1:1372/mqtt/auth/subscribe"

